@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c|Open+Sans');

body{
    margin: 0;
    color:#383838;
    font-family: "Open Sans", sans-serif;
}

h1 {
  color:#2b2b2b;
  font-size: 24px !important;
}

h2 {
  color:#2b2b2b;
  font-size: 24px !important;
}

h3 {
  color:#2b2b2b;
  font-size: 24px !important;
}

/* ##### 01 : HEADER & FOOTER  ##### */
/*header*/
header.main-header{
    width: 100%;
    height: 200px;
    margin: auto;
    padding: 0;
    background-position: relative;
    text-align: center;
}
.container{
    margin-right: 30px;
}

.main-content {
  max-width: 1200px;
}

/*logo*/
header.main-header .logo{
    float: left;
    width:250px;
    height: 50px;
    line-height: 100px;
    margin-left: 30px;
}
.main-text h1{
    position: absolute;
    top: 4.3em;
    left: 0;
    right: 0;
}

.menu{float: right;}


/*desktop nav*/
nav.desktop-nav{float: left;}
nav.desktop-nav li{list-style: none;}
nav.desktop-nav ul.first-level > li{
    float: left;
    margin-right: 20px;
    position: relative;
}
nav.desktop-nav ul.first-level > li:last-child{margin-right: 0}
nav.desktop-nav ul.first-level > li > a{
    display: inline-block;
    text-decoration: none;
    color: #656565;
    line-height: 40px;

}
nav.desktop-nav ul.first-level > li > a:after{
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    width: 50%;
    height: 1px;
    background-color: #60606e;
    opacity: 0;
    -webkit-transition:all .2s ease-in-out;
            transition:all .2s ease-in-out;
}
nav.desktop-nav ul.first-level > li:hover > a:after{
    top:35px;
    opacity: 1;
}
nav.desktop-nav ul.first-level > li a{
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 700;
}


nav.desktop-nav ul.first-level > li > ul.second-level{
    display: none;
    z-index: 999;
    position: absolute;
    top: 70px;
    left: 0;
    min-width: 200px;
    background-color: #60606e;
}
nav.desktop-nav ul.first-level > li:last-child > ul.second-level{
    left: auto;
    right: 0;
}
nav.desktop-nav ul.first-level > li > ul.second-level > li > a{
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    color:#fff;
}
nav.desktop-nav ul.first-level > li > ul.second-level > li:nth-child(even) > a{
    background-color: #585866;
}
nav.desktop-nav ul.first-level > li > ul.second-level > li > a:hover{
    background-color: #404051;
}
@media (max-width: 991px) {
    .menu nav.desktop-nav{display: none;}
}

/*mobile nav*/
nav.mobile-nav{
    display: inline-block;
    min-width: 300px;
    background-color: #60606e;
    position: absolute;
    right: 0;
    top:100px;
    /*display: none;*/
}
nav.mobile-nav > ul.first-level li{
    list-style: none;
}
nav.mobile-nav > ul.first-level > li a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color:white;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;

}
nav.mobile-nav > ul.first-level > li a:hover{
    background-color: #404051;
}
nav.mobile-nav > ul.first-level > li > ul.second-level{
    /*display: none;*/
    background-color: #50505f;
}

/*menu icon*/
header.main-header .menu-icon{
    float:left;
    cursor: pointer;
    margin-top: 41.5px; /* (100 - 17) / 2 (17px is the icon's height) */
    display:none;
}
header.main-header .menu-icon .line{
    height: 1px;
    width: 30px;
    background-color: #60606e;
    -webkit-transition:all .2s ease-in-out;
            transition:all .2s ease-in-out;
}
header.main-header .menu-icon .line:nth-child(2){
    margin: 7px 0;
    width: 15px;
}
header.main-header .menu-icon .line:last-child{width: 20px;}
@media (max-width: 991px) {
    header.main-header .menu-icon{display: block;}
}
div.tab {
    overflow: hidden;
    background-color: #1f7eca;
    text-align: left;
}



sup .fa-info-circle {
  color: gray;
  position:relative;
  opacity: .5;
  transition: all 0.2s ease-in-out 0;
  cursor: help;
  font-size: 0.7em;
  padding-left: 10px
}
.fa-info-circle{
    width: 10px;
}

.tooltip {
    position: relative;
    display: inline-block;

}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 25%;
    right: 20%;
    margin-left: 60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
/* Style the buttons inside the tab */
.main-content{
    width: 80%;
    margin: 20px auto;
    height:91.5%;
    box-shadow: 1px 1px 9px grey;
}
div.tab button {
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 19px 19px 29px;
    transition: 0.3s;
    font-size: 15px;
    color:white;
    margin-bottom:-1em;
}
#logo{
    width: 250px;
}
/* Change background color of buttons on hover */

div.tab button:hover {
    cursor: pointer;
    background-color: white;
    color:black;
    font-weight:bold;
}

/* Create an active/current tablink class */
.active {
    background-color: white !important;
    font-weight:bold;
    color:black !important;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}
.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
#slidecontainer {
    width: 100%;
}
input{
    width:150px;
    height: 25px;
    font-size:15px;
}

.plan{
    padding-top: 30px;
    clear: both;
}

@media only screen and (min-width: 700px) {
  .plan {
    width:90%;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }

}

.plan h3 {
    text-align:center;
    font-size:2em;
    font-weight:bold;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width:25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.columns {
    float: left;
    width: 22.5%;
    margin: 0.688em;
    text-align: center;
}
.column {
    float: left;
    min-width: 33.3%;
   padding-top: 10px;
    text-align: center;
}


.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

li.price {
    font-family: 'Open Sans', sans-serif;
}

li.header {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.price:hover {
    box-shadow: 0 9px 20px 0 rgba(0,0,0,0.25)
}

.price .header {
    background-color: #1f7eca ;
    color: white;
    font-size: 1.3em;;
}

.price li {

    padding: 10px;
    text-align: center;
}

.price .grey {
    background-color: #bbddf5;
    font-size: 20px;
}

button:hover {
    cursor: pointer;
}

.button button {
    background-color: #45b904;
    border: 1px solid #45b904;

    color: white;
    width:100%;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    font-size: 1.6em;
}

footer{
    padding-top: 20px;
    clear: both;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: grey;
    padding-bottom: 2em;
}
footer .fa{
    color: grey;
    padding: 0 10px;
}
footer a{
    text-decoration: none;
}



@media only screen and (max-width: 1255px) {

  .row1 {
    display: inline-block;
    width:100% !important;
  }

  .row2 {
    display: inline-block;
    width:100% !important;
  }

  .columns {
    width:40% !important;
    margin-left: 5%;
    margin-right: 5%;
  }

}


@media only screen and (max-width: 900px) {
    .columns {
        width: 100%;
    }
    .column{
        width: 100%;
    }
    footer{
        width: 90%;
    }


    .main-content {
      width:92% !important;
    }

    #expert-img {
      display: none !important;
    }

    .columns {
      width:90% !important;
    }

    #sales-lead-form input {
      width:100% !important;
    }

    #message-field {
      width:100% !important;
    }


}




/* Sales Lead Form */

#sales-lead-form {
  width:100%;
  margin:3em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img#expert-img {
  float:right;
  width:55%;
  margin-top: 3em;
}

#sales-lead-form input {
  vertical-align: top;
  width:40%;
  margin-top:0.5em;
  margin-bottom:0.5em;
  display: block;
}

#message-field {
  border:1px solid rgba(0,0,0,0.15);
  height: 10em;
  width: 40%;
  margin-bottom: 2em;
}

#connect-with-expert {
  background: #1E7ECA;
  color:white;
  width:300px !important;
  height:3em !important;
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  border: 0px solid #1E7ECA;
}

div.sales-lead-section {
  width:80%;
  padding:2em;
  margin-left:auto;
  margin-right:auto;
}


div.sales-lead-section h3 {
  color: #2b2b2b;
  font-size: 22px;
  font-weight: bolder;
  display: block;
  text-align: center;
}

#sales-lead-form label {
  margin-right: 1.5em;
  vertical-align: top;
}

/* Shopify Fee Calculator Explanation */

div.shopify-fee-explanation {
  width:80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4em;
}
