@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c|Open+Sans');

body{
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: #2A2A2A;
    font-size: 13px;
}

input[type='submit']:hover, input[type='button']:hover {
  -webkit-box-shadow: -1px -1px 25px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px -1px 25px -13px rgba(0,0,0,0.75);
  box-shadow: -1px -1px 25px -13px rgba(0,0,0,0.75);
  cursor: pointer !important;
}


/* ##### 01 : HEADER & FOOTER  ##### */
/*header*/
header.main-header{
    width: 100%;
    height: 100px;
    margin: auto;
    padding: 0;
    background-position: relative;
    text-align: center;
}

.main-content {
  max-width: 1200px;
}


.container{
    margin-right: 30px;
}

/*logo*/
header.main-header .logo{
    float: left;
    width:250px;
    height: 50px;
    line-height: 100px;
    margin-left: 30px;
}
.main-text{
    left: 0;
    right: 0;
    font-size: 1.2em;
    padding: 20px;
}

.main-text h1{
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.main-text h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.main-text img {
  width:100%;
  height: 50%;
}

.menu{float: right;}

/*desktop nav*/
nav.desktop-nav{float: left;}
nav.desktop-nav li{list-style: none;}
nav.desktop-nav ul.first-level > li{
    float: left;
    margin-right: 20px;
    position: relative;
}
nav.desktop-nav ul.first-level > li:last-child{margin-right: 0}
nav.desktop-nav ul.first-level > li > a{
    display: inline-block;
    text-decoration: none;
    line-height: 40px;

}
nav.desktop-nav ul.first-level > li > a:after{
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    width: 50%;
    height: 1px;
    background-color: #60606e;
    opacity: 0;
    -webkit-transition:all .2s ease-in-out;
            transition:all .2s ease-in-out;
}
nav.desktop-nav ul.first-level > li:hover > a:after{
    top:35px;
    opacity: 1;
}
nav.desktop-nav ul.first-level > li a{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}


nav.desktop-nav ul.first-level > li > ul.second-level{
    display: none;
    z-index: 999;
    position: absolute;
    top: 70px;
    left: 0;
    min-width: 200px;
    background-color: #60606e;
}
nav.desktop-nav ul.first-level > li:last-child > ul.second-level{
    left: auto;
    right: 0;
}
nav.desktop-nav ul.first-level > li > ul.second-level > li > a{
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
}
nav.desktop-nav ul.first-level > li > ul.second-level > li:nth-child(even) > a{
    background-color: #585866;
}
nav.desktop-nav ul.first-level > li > ul.second-level > li > a:hover{
    background-color: #404051;
}
@media (max-width: 991px) {
    .menu nav.desktop-nav{display: none;}
}

/*mobile nav*/
nav.mobile-nav{
    display: inline-block;
    min-width: 300px;
    background-color: #60606e;
    position: absolute;
    right: 0;
    top:100px;
    /*display: none;*/
}
nav.mobile-nav > ul.first-level li{
    list-style: none;
}
nav.mobile-nav > ul.first-level > li a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color:white;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;

}
nav.mobile-nav > ul.first-level > li a:hover{
    background-color: #404051;
}
nav.mobile-nav > ul.first-level > li > ul.second-level{
    /*display: none;*/
    background-color: #50505f;
}

/*menu icon*/
header.main-header .menu-icon{
    float:left;
    cursor: pointer;
    margin-top: 41.5px; /* (100 - 17) / 2 (17px is the icon's height) */
    display:none;
}
header.main-header .menu-icon .line{
    height: 1px;
    width: 30px;
    background-color: #60606e;
    -webkit-transition:all .2s ease-in-out;
            transition:all .2s ease-in-out;
}
header.main-header .menu-icon .line:nth-child(2){
    margin: 7px 0;
    width: 15px;
}
header.main-header .menu-icon .line:last-child{width: 20px;}
@media (max-width: 991px) {
    header.main-header .menu-icon{display: block;}
}
div.tab {
    overflow: hidden;
    background-color: #1f7eca;
    text-align: left;
}



sup .fa-info-circle {
  color: gray;
  position:relative;
  opacity: .5;
  transition: all 0.2s ease-in-out 0;
  cursor: help;
  font-size: 0.7em;
  padding-left: 10px
}
.fa-info-circle{
    width: 10px;
}

.tooltip {
    position: relative;
    display: inline-block;

}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 25%;
    right: 20%;
    margin-left: 60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
/* Style the buttons inside the tab */
.main-content{
    margin: 20px auto;
    height:91.5%;
    padding: 10px;
}

div.tab button {
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 19px 19px 29px;
    transition: 0.3s;
    font-size: 15px;
    color:white;
    margin-bottom:-1em;
}
#logo{
    width: 250px;
}
/* Change background color of buttons on hover */

div.tab button:hover {
    background-color: white;
    color:black;
    font-weight:bold;
}

/* Create an active/current tablink class */
div.tab button:active {
    background-color: white;
    font-weight:bold;
    color:black;
}
div.tab button:focus{
    background-color: white;
    font-weight:bold;
    color:black;
}


/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}
.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
#slidecontainer {
    width: 100%;
}
input{
    font-size:15px;
}

.plan{
    padding-top: 30px;
    clear: both;
}

.plan h3 {
    text-align:center;
    font-size:2em;
    font-weight:bold;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width:25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

/***** Jitterbit Quote Form **********/

img#jitterbit-logo {
  width:8em;
  height:5em;
  margin-bottom: -2.4em;
}

.columns {
    float: left;
    width: 22.5%;
    margin: 0.688em;
    text-align: center;
}
.column {
    float: left;
    min-width: 33.3%;
   padding-top: 10px;
    text-align: center;
}


.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

li.price {
    font-family: 'Open Sans', sans-serif;
}

 select#lvl-of-support {
  height: 29px;
   overflow: hidden;
   width: 150px;
}

select#num-of-connections {
 height: 30px;
  overflow: hidden;
  width: 50px;
  font-size: 14px;
}


[type="checkbox"]#submit-jitterbit-pricing:hover {
    cursor: pointer;
}

select {
  margin-left: 10px;
}

[type="button"]#submit-jitterbit-pricing {
    background-color: #07528E;
    border: 1px solid #07528E;
    color: white;
    width:300px;
    padding: 5px;
    max-height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 1.1em;
}



@media only screen and (max-width: 500px) {
    input#phone-field {
      margin-left: 0px !important;
    }

    input#company-field {
      margin-left: 0px !important;
    }
}


input#name-field {
  width:260px;
}

input#phone-field {
  width:260px;
}

input#company-field {
  width:260px;
}

input#email-field {
  width:260px;
}

div#jitterbit-pricing-form {
  display: block;
}


#jitterbit-pricing-form p {
  margin-bottom: 2em;
  text-align: center;
}

ul#jitterbit-pricing-points li {
  list-style: none;
  text-align: left;
  margin-bottom: 0.8em;
}

label {
  word-wrap:break-word;
}

#submit-jitterbit-pricing {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:220px;
  height:170px;
  border-radius: 13px 13px 13px 13px;
  -moz-border-radius: 13px 13px 13px 13px;
  -webkit-border-radius: 13px 13px 13px 13px;
}

[type="checkbox"]
{
    vertical-align:middle;
}

footer{
    padding-top: 20px;
    clear: both;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: grey;
    padding-bottom: 2em;
    width: 100%;
}
footer .fa{
    color: grey;
    padding: 0 10px;
}
footer a{
    text-decoration: none;
}

footer p {
  display: block;
}


@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
    .column{
        width: 100%;
    }
    footer{
        width: 100%;
    }
}


/****** Sales Lead Form *********/


#sales-lead-form {
  width:300px;
  margin:3em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#sales-lead-form input {
  vertical-align: top;
  width:100%;
  margin-top:0.5em;
  margin-bottom:0.5em;
  display: block;
}

#message-field {
  border:1px solid rgba(0,0,0,0.15);
  height: 10em;
  width: 100%;
  margin-bottom: 2em;
}

#connect-with-expert {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #07528E;
  border: 1px solid #07528E;
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  color: white;
  width:250px;
  padding: 5px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  font-size: 1.1em;
}

div.sales-lead-section {
  width:80%;
  padding:2em;
  margin-left:auto;
  margin-right:auto;
}


div.sales-lead-section h3 {
  color: red;
  font-size: 1.5em;
  display: inline-block;
  font-weight: bolder;
  display: block;
  text-align: center;
}

#sales-lead-form label {
  margin-right: 1.5em;
  vertical-align: top;
}


/****** Jitterbit Quote *********/

div#jitterbit-quote {
  display: block;
  padding: 15px;
  position: relative;
  top:-22px;
}

div#jitterbit-quote p {
  font-size: 1.1em;
}

#selected-plan {
  color: #07528E;
  font-weight: bold;
}

p#price-range {
  color: #07528E;
  font-size: 3em !important;
  text-align: center;
}

[type="button"]#back-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #07528E;
    border: 1px solid #07528E;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    color: white;
    width:250px;
    padding: 5px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 1.1em;
}



/* MEDIA QUERIES */
@media only screen and (max-width: 550px) {

  .main-text {
    font-size: 0.96em !important;
    margin-top: 18px;
    padding: 8px !important;
  }

  p#price-range {
    font-size: 1.7em !important;
  }

  #submit-jitterbit-pricing {
    width:90% !important;
  }

  ul#jitterbit-pricing-points {
    margin-left: -20px;
  }

}
